* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  main {
    /* Turns this element into a flexbox */
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }
  
  main {
    display: flex;
    /* Defines how to distribute the empty space between child elements */
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }
  
  article {
    /* A flex-basis of 200px sets the starting width */
    /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border: 3px dashed black;
  }
  
  article header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }

@media screen and (max-width: 992px) {
    /* Add a screen break for anything smaller than 992 (like a tablet) */

    /* This will drop down to two columns side by side */
    article {
        flex-basis: 50%;
    }
    
}